@import "@styles/common/variables";
@import "@styles/common/mixins";

.main {

  .banner-wrapper{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .category {
    height: 77.5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;

    &-wrapper {
      margin-top: 50px;
      display: flex;
      justify-content: center;
    }

    &-list {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
    }

    &-text{
      font-family: Noto Sans;
      font-size: 14px;
      height: 100%;
      margin-top: 25px;
      text-align: center;
    }

    &-icn{
      width: 50px;
      height: 35px;
      align-self: center;
    }
  }

  .newgoods{
    &-title{
      margin: 60px 0 35px 0;
      font-size: 26px;
      font-weight: bold;
    }
  }

  .goods {
    padding : 4%;

    &-wrapper {
        width: 100%;
        padding: 0px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
    }

    &-list {
        padding: 0px;
        padding-inline-start: 0px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        box-sizing: border-box;
        list-style: none;

    }

    &-cont{
      max-width: 190px;

      &_title{
          width: 100%;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 8px;
          overflow: hidden;
          text-overflow: ellipsis;
          height : 20px;
          word-wrap : brek-word;
          display : -webkit-box;
          -webkit-line-clamp  : 1;
          -webkit-box-orient: vertical;
      }

      &_meta{
          font-size: 14px;
          color : $FONT_GRAY_COLOR;
          //margin-bottom: 15px;
      }

      &_bottom{
          display: flex;
          justify-content: space-between;
      }

      &_price{
          font-size: 18px;
          font-weight: 800;
      }
  }

  @include small-desktop {

    &-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@include tablet {
        &-list {
            grid-template-columns: repeat(3, 1fr);
        }
}

@include mobile {
        &-list {
            grid-template-columns: repeat(2, 1fr);
        }
}
  }

  

  .swiper-button-next{
    color:  rgb(228, 228, 228);
  }

  .swiper-button-prev{
    color: rgb(228, 228, 228);
  }

  .swiper-pagination-bullet-active{
    background-color: white;
  }

  @include small-desktop{
    .category {
      &-text{
        font-size: 12px;
      }
    }
  }

  @include tablet{
    .category {
      &-list{
        grid-template-columns: repeat(5, 1fr);
        gap : 40px 0;
      }
    }
  }

  @include mobile{
    .category {
      &-list{
        grid-template-columns: repeat(4, 1fr);
        gap : 40px 0;
      }

      .category {
        &-text{
          font-size: 12px;
        }
      }
    }

    .swiper-button-prev{
      display: none;
    }

    .swiper-button-next{
      display: none;
    }
  }

}